<h1>Why so Serial</h1>
<p>Welcome to Why so Serial</p>



<img src="" alt="">
<div>
    <p></p>
</div>
<article>
    <div>

    </div>
    <div>

    </div>
    <div>

    </div>
</article>
<article>
    <div>
        <button>A - Z</button>
        <div>
            <form action="/killers/alphabet/a"><button>A</button></form>
            <form action="/killers/alphabet/b"><button>B</button></form>
            <form action="/killers/alphabet/c"><button>C</button></form>
            <form action="/killers/alphabet/d"><button>D</button></form>
            <form action="/killers/alphabet/e"><button>E</button></form>
            <form action="/killers/alphabet/f"><button>F</button></form>
            <form action="/killers/alphabet/g"><button>G</button></form>
            <form action="/killers/alphabet/h"><button>H</button></form>
            <form action="/killers/alphabet/i"><button>I</button></form>
            <form action="/killers/alphabet/j"><button>J</button></form>
            <form action="/killers/alphabet/k"><button>K</button></form>
            <form action="/killers/alphabet/l"><button>L</button></form>
            <form action="/killers/alphabet/m"><button>M</button></form>
            <form action="/killers/alphabet/n"><button>N</button></form>
            <form action="/killers/alphabet/o"><button>O</button></form>
            <form action="/killers/alphabet/p"><button>P</button></form>
            <form action="/killers/alphabet/q"><button>Q</button></form>
            <form action="/killers/alphabet/r"><button>R</button></form>
            <form action="/killers/alphabet/s"><button>S</button></form>
            <form action="/killers/alphabet/t"><button>T</button></form>
            <form action="/killers/alphabet/u"><button>U</button></form>
            <form action="/killers/alphabet/v"><button>V</button></form>
            <form action="/killers/alphabet/w"><button>W</button></form>
            <form action="/killers/alphabet/x"><button>X</button></form>
            <form action="/killers/alphabet/y"><button>Y</button></form>
            <form action="/killers/alphabet/z"><button>Z</button></form>
        </div>
    </div>
    <div>
        <button>Zodiac Sign</button>
        <div>
            <form action="/killers/search/Aries"><button>Aries</button></form>
            <form action="/killers/search/Taurus"><button>Taurus</button></form>
            <form action="/killers/search/Gemini"><button>Gemini</button></form>
            <form action="/killers/search/Cancer"><button>Cancer</button></form>
            <form action="/killers/search/Leo"><button>Leo</button></form>
            <form action="/killers/search/Virgo"><button>Virgo</button></form>
            <form action="/killers/search/Libra"><button>Libra</button></form>
            <form action="/killers/search/Scorpio"><button>Scorpio</button></form>
            <form action="/killers/search/Sagittarius"><button>Sagittarius</button></form>
            <form action="/killers/search/Capricorn"><button>Capricorn</button></form>
            <form action="/killers/search/Aquarius"><button>Aquarius</button></form>
            <form action="/killers/search/Pisces"><button>Pisces</button></form>
        </div>
    </div>
</article>
<footer class="footer">
    <ul class="footer-links">
        <a href="">
            <li>Items</li>
        </a>
        <a href="">
            <li>Items</li>
        </a>
        <a href="">
            <li>Items</li>
        </a>
    </ul>
</footer>