<form action="/private/profile/{{user._id}}/edit" method="POST" enctype="multipart/form-data">

    <input type="text" name="name" value="{{user.name}}" placeholder="name">

    <input type="text" name="email" value="{{user.email}}" placeholder="email">

    <input type="file" name="profilepic" placeholder="Upload a photo">

    <button type="submit">Update</button>
</form>