<div class="wrapper">
    <div class="main">
        <article>
            <img src="{{user.image}}" alt="user image">
            <p><b>Name:</b> {{user.name}}</p>
            <a href="/private/profile/{{user._id}}/edit">Edit</a>
        </article>
    </div>
</div>

<footer class="footer">
    <ul class="footer-links">
        <a href="">
            <li>Items</li>
        </a>
        <a href="">
            <li>Items</li>
        </a>
        <a href="">
            <li>Items</li>
        </a>
    </ul>
</footer>