*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  --red-block: #8b0a0a;
  --links: #ef9d9d;
  --dirty-white: #efeeec;
  --pink-btns: #c55c68;
}

img {
  max-width: 100%;
  line-height: 1;
}

body {
  line-height: 1.6;
  letter-spacing: 1px;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #00B7FF;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

p {
  font-size: 1.4rem;
  font-weight: 300;
} 


/*************************** nav ***************************/
.nav {
  background-color: var(--red-block);
}

.nav-menu a {
  color: var(--links);
}

/******************************* home *******************/
.header {
  background-image: url(../images/header.jpg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: var(--dirty-white);
  height: 35vh;
}

.explanation {
  background-color: #A49C9A;
  min-height: 15vh;
  padding: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.explanation-p {
  font-size: 1.1rem;
  text-align: center;
}

/* Horitzontal Scroll */

.horitzontal-scroll {
  padding: 1rem;
  padding-right: 2rem;
}

.hs {
  display: flex;
  flex-direction: row;
  padding: 0 20px;
  
  overflow-x: scroll;
  scroll-snap-type: x proximity;
}

ul {
  list-style: none;
  padding: 0;
}

.hs > li,
.item {
  scroll-snap-align: center;
  margin-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 8px;
}

.hs > li {
  background-color: var(--red-block);
  min-height: 25rem;
  min-width: 25rem;
  color: white;
  padding: 1rem;
}

.hs-image {
  height: 10rem;
}

.card-text {
  font-size: 1.1rem;
  text-align: center;
}

/* Main Buttons */
.main-btns {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-around;
}

.main-btn {
  border: 1px var(--red-block) solid;
  /* border: none; */
  background-color: white;
  color: var(--red-block);
  -webkit-box-shadow: -7px 9px 5px 0px rgba(184,184,184,1);
  -moz-box-shadow: -7px 9px 5px 0px rgba(184,184,184,1);
  box-shadow: -3px 3px 5px 0px rgba(184,184,184,1);
  font-size: 1.6rem;
  font-weight: 200;
  border-radius: 50%;
  height: 7rem;
  width: 7rem;
  cursor: pointer;
}

.main-btn:hover {
  -webkit-box-shadow: -7px 9px 5px 0px var(--red-block);
  -moz-box-shadow: -7px 9px 5px 0px var(--red-block);
  box-shadow: -3px 3px 5px 0px var(--red-block);
}

#alpha {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
}

.letter-btn {
  border: none;
  background-color: white;
  height: 4rem;
  width: 4rem;
}

#zodiac {
  padding: 1rem;
}

.zodiac-btn {
  border: none;
  background-color: white;
  height: 5rem;
  width: 5rem;
}

/******************************* wrappers *******************/
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}


/************************* forms *****************************/
.form-wrapper {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.form-bg {
  flex-grow: 1;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-container {
  width: 90%;
  margin: 0 auto;
}

.form-title {
  padding: 1rem 0;
  margin-bottom: 2rem;
  border-bottom: 1px solid black;
}

.form-input {
  width: 100%;
  padding: 1.8rem;
  font-size: 2rem;
}

.form-label {
  align-self: flex-start;
  font-size: 2rem;
  padding: 1rem 0;
  transition: all 0.3s ease;
}

.form-input:focus {
  outline: none;
  border: 1px solid var(--pink-btns);
  box-shadow: 0px 10px 5px 0px rgba(139, 10, 10, 0.365);
}

.form-input::-webkit-input-placeholder {

  margin-left: 2rem;
  font-size: 1.6rem;
}

.form-input:placeholder-shown+.form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
  transition: all 0.3s ease;
}

/************************* footer ************************/
.footer {
  background-color: var(--red-block);
}

.footer-links a {
  color: var(--links);
}

/******************************************************************************************************** media queries **************************************************************/
@media screen and (min-width:600px) {}

@media screen and (min-width:900px) {}

@media screen and (min-width:1200px) {}


@media screen and (min-width:1800px) {}