*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  --red-block: #8b0a0a;
  --links: #ef9d9d;
  --dirty-white: #efeeec;
  --pink-btns: #c55c68;
}

img {
  max-width: 100%;
  line-height: 1;
}

body {
  line-height: 1.6;
  letter-spacing: 1px;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #00B7FF;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

p {
  font-size: 1.4rem;
  font-weight: 300;
} 


/*************************** nav ***************************/
.nav {
  background-color: var(--red-block);
}

.nav-menu a {
  color: var(--links);
}

/******************************* home *******************/
.header {
  background-image: url(../images/header.jpg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: var(--dirty-white);
  height: 35vh;
}

.explanation {
  background-color: #A49C9A;
  min-height: 15vh;
  padding: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.explanation-p {
  font-size: 1.1rem;
  text-align: center;
}

/* Horitzontal Scroll */

.horitzontal-scroll {
  padding: 1rem;
  padding-right: 2rem;
}

.hs {
  display: flex;
  flex-direction: row;
  padding: 0 20px;
  
  overflow-x: scroll;
  scroll-snap-type: x proximity;
}

ul {
  list-style: none;
  padding: 0;
}

.hs > li,
.item {
  scroll-snap-align: center;
  margin-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 8px;
}

.hs > li {
  background-color: var(--red-block);
  min-height: 25rem;
  min-width: 25rem;
  color: white;
  padding: 1rem;
}

.hs-image {
  height: 10rem;
}

.card-text {
  font-size: 1.1rem;
  text-align: center;
}

/* Main Buttons */
.main-btns {
  margin-bottom: 1rem;
  width: 100%;
  padding: 1rem;
  position: relative;
  display: flex;
  justify-content: space-around;
}

.main-btn {
  border: 1px var(--red-block) solid;
  background-color: white;
  color: var(--red-block);
  -webkit-box-shadow: -7px 9px 5px 0px rgba(184,184,184,1);
  -moz-box-shadow: -7px 9px 5px 0px rgba(184,184,184,1);
  box-shadow: -3px 3px 5px 0px rgba(184,184,184,1);
  font-size: 1.6rem;
  font-weight: 200;
  border-radius: 50%;
  height: 7rem;
  width: 7rem;
  cursor: pointer;
}

.main-btn:hover {
  -webkit-box-shadow: -7px 9px 5px 0px var(--red-block);
  -moz-box-shadow: -7px 9px 5px 0px var(--red-block);
  box-shadow: -3px 3px 5px 0px var(--red-block);
}

.alpha-btns {
  display: none;
}

.letter-btn {
  border: none;
  background-color: white;
  height: 4rem;
  width: 4rem;
}

.zodiac-btn {
  border: none;
  background-color: white;
  height: 7rem;
  width: 7rem;
}

.zodiac-btns {
  display: none;
}

.show-list {
  padding: 1rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/************ user profile ******************/
.user-pic-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.user-picture {
  height: 20rem;
  width: 20rem;
}

.profile-main {
  padding: 2rem;
}

.bold-item {
  font-weight: 600;
}

/******************************* wrappers *******************/
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}


/************************* forms *****************************/
.form-wrapper {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.form-bg {
  flex-grow: 1;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-container {
  width: 90%;
  margin: 0 auto;
}

.form-title {
  padding: 1rem 0;
  margin-bottom: 2rem;
  border-bottom: 1px solid black;
}

.form-input {
  width: 100%;
  padding: 1.8rem;
  font-size: 2rem;
}

.form-label {
  align-self: flex-start;
  font-size: 2rem;
  padding: 1rem 0;
  transition: all 0.3s ease;
}

.form-input:focus {
  outline: none;
  border: 1px solid var(--pink-btns);
  box-shadow: 0px 10px 5px 0px rgba(139, 10, 10, 0.365);
}

.form-input::-webkit-input-placeholder {

  margin-left: 2rem;
  font-size: 1.6rem;
}

.form-input:placeholder-shown+.form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
  transition: all 0.3s ease;
}

/************************* footer ************************/
.footer {
  background-color: var(--red-block);
}

.footer-links a {
  color: var(--links);
}

/******************************************************************************************************** media queries **************************************************************/
@media screen and (min-width:600px) {
  /* home */
  .header {
    height: 45vh;
  }

  .explanation {
    min-height: 17vh;
    padding: 2rem;
  }

  .explanation-p {
    font-size: 1.3rem;
  }

  /* Horitzontal Scroll */
  .hs > li {
    min-height: 26rem;
    min-width: 26rem;
  }

  .hs-image {
    height: 10rem;
  }

  .card-text {
    font-size: 1.2rem;
  }

  /* Main Buttons */
  .letter-btn {
    height: 5rem;
    width: 5rem;
  }

  .zodiac-btn {
    height: 8rem;
    width: 8rem;
  }
}

@media screen and (min-width:900px) {
  /* home */
  .header {
    height: 60vh;
  }

  .explanation {
    min-height: 20vh;
  }

  .explanation-p {
    font-size: 1.6rem;
  }

  /* Horitzontal Scroll */
  .hs > li {
    min-height: 28rem;
    min-width: 28rem;
  }

  .hs-image {
    height: 11rem;
  }

  .card-text {
    font-size: 1.3rem;
  }
  
  /* Main Buttons */
  .main-btn {
    font-size: 1.7rem;
    height: 9rem;
    width: 9rem;
  }

  .letter-btn {
    height: 6rem;
    width: 6rem;
  }
  
  .zodiac-btn {
    height: 10rem;
    width: 10rem;
  }

  .show-list {
    padding: 2rem 14rem;
  }
}

@media screen and (min-width:1200px) {
  /* home */
  .header {
    height: 60vh;
    background-size: cover;
  }

  .explanation {
    min-height: 18vh;
    padding: 2rem 5rem;
  }

  .explanation-p {
    font-size: 2rem;
  }

  /* Horitzontal Scroll */

  .horitzontal-scroll {
    padding: 1rem;
  }

  .hs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    overflow-x: none;
    scroll-snap-type: none;
  }

  .hs > li,
  .item {
    scroll-snap-align: none;
  }

  .hs > li {
    height: 22rem;
    width: 22rem;
    padding: 1rem;
  }

  .hs-image {
    height: 10rem;
  }

  .card-text {
    font-size: 1.3rem;
  }

    /* Main Buttons */
  .main-btn {
    font-size: 1.9rem;
    height: 10rem;
    width: 10rem;
  }

  .letter-btn {
    height: 8rem;
    width: 8rem;
  }
  
  .zodiac-btn {
    height: 12rem;
    width: 12rem;
  }

  .show-list {
    padding: 2rem 28rem 6rem 28rem;
  }
}

@media screen and (min-width:1800px) {
  /* home */
  .header {
    height: 50vh;
    background-size: cover;
  }

  .explanation-p {
    font-size: 3rem;
  }

  /* Horitzontal Scroll */

  .horitzontal-scroll {
    padding: 1rem;
  }

  .hs > li {
    height: 45rem;
    width: 45rem;
    padding: 1.5rem;
  }

  .hs-image {
    height: 17rem;
  }

  .card-title {
    font-size: 2.5rem;
  }

  .card-text {
    font-size: 2.2rem;
  }

    /* Main Buttons */
  .main-btn {
    font-size: 3.2rem;
    height: 18rem;
    width: 18rem;
  }

  .letter-btn {
    height: 15rem;
    width: 15rem;
  }
  
  .zodiac-btn {
    height: 18rem;
    width: 18rem;
  }

  .show-list {
    padding: 2rem 30rem 6rem 30rem;
  }
}